<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>

    <style>
      
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.sound.min.js"></script>


  </head>
  <body>
<script src="/sketch.js"></script>

    <script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>



    

<h1>Best Security System </h1>

  </body>
</html>
